body { 
	background: url(../images/pattern.png); }

.first { 
	background: url(../images/first.jpg);
	background-size: cover; }

.navbar { 
	border-radius: 0;
	border: 0; }

.center { 
	padding: 0 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px; }
	.center .inner { 
		text-align: center; }
	.center .inner img { 
		margin-left: auto;
		margin-right: auto;
		max-width: 500px; }
	.center .inner p { 
		color: white;
		font-size: 25px; }

.second { 
	color: white; }
.second h1, 
.second h3,
.third h1 { 
	font-family: bebas; }
.second .logo { 
	font-size: 150px;
	color: #89b8ff; }

hr.short { 
	width: 50px;
	border: 0;
	border-bottom: 2px solid #89b8ff; }

.third { 
	background: white;
	color: #404040; }

.subscribe-btn { 
	padding: 20px 40px;
	border: 1px solid white;
	color: #89b8ff;
	font-family: bebas;
	font-size: 20px; }
	.subscribe-btn:hover { 
		color: white;
		background: #89b8ff;
		text-decoration: none; }

.img-circle { 
	width: 180px;
	height: 180px;
	padding: 5px;
	border: 1px solid #89b8ff; }

.text-orange { 
	color: #89b8ff; }

.color-div { 
	height: 30px;
	width: 30px;
	border: 1px solid #000;
	background: darkred;
	background: url(../colorpicker/images/select.png) center; }

form.dropzone { 
	height: auto;
	border: 2px dashed #89b8ff;
	border-radius: 10px; }
.dz-clickable { 
	cursor: pointer;
	padding: 50px; }
.dz-message { 
	font-family: roboto; }

.navbar img { 
	height: 50px; }

.navbar { 
	background: rgba(137, 184, 255, 0.3); }
.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar .navbar-nav > li {
  display: inline-block;
  float: none;
}
.navbar .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: roboto;
  font-size: 20px;
  border-radius: 10px;
}

.navbar .navbar-nav > li > a:hover {
	background: #89b8ff;
	transition: 0.3s;
}

