body { 
	background: url(../images/pattern.png); }

.first { 
	background: url(../images/first.jpg);
	background-size: cover; }

.navbar { 
	border-radius: 0;
	border: 0; }

.center { 
	padding: 0 50px;
	margin-left: auto;
	margin-right: auto; }
	.center .inner { 
		text-align: center; }
	.center .inner img { 
		margin-left: auto;
		margin-right: auto;
		max-width: 500px; }
	.center .inner p { 
		color: white;
		font-size: 25px; }

.second { 
	color: white; }
.second h1, 
.second h3,
.third h1 { 
	font-family: bebas; }
.second .logo { 
	font-size: 150px;
	color: darkorange; }

hr.short { 
	width: 50px;
	border: 0;
	border-bottom: 2px solid darkorange; }

.third { 
	background: white;
	color: #404040; }

.subscribe-btn { 
	padding: 20px 40px;
	border: 1px solid white;
	color: darkorange;
	font-family: bebas;
	font-size: 20px; }
	.subscribe-btn:hover { 
		color: white;
		background: darkorange;
		text-decoration: none; }

.img-circle { 
	width: 180px;
	height: 180px;
	padding: 5px;
	border: 1px solid darkorange; }

.text-orange { 
	color: darkorange; }

.color-div { 
	height: 30px;
	width: 30px;
	border: 1px solid #000;
	background: darkred;
	background: url(../colorpicker/images/select.png) center; }

form.dropzone { 
	height: auto;
	border: 2px dashed darkorange;
	border-radius: 10px; }
.dz-clickable { 
	cursor: pointer;
	padding: 50px; }
.dz-message { 
	font-family: roboto; }